.UserProfileEducation{
    height : 100%;
    width : 100%;
    display : flex;
    flex-wrap: wrap;
    padding : 20px;
    flex-direction: column;
    .Card{
        width : 48%;
        height : 150px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.109);
        margin : 5px;
    }
}