* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Container {
  font-family: 'Lato';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Lato';
}

.Container .Logo {
  position: absolute;
  right: 27px;
  top: 40px;
  width: 7%;
}

.Container .image {
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.Container .formContainer {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15%;
}

.Container .formContainer .LoginText {
  font-weight: 900;
  font-size: 1.8rem;
}

.Container .formContainer .menuDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.Container .formContainer .menuDiv .loginButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .formContainer .menuDiv .loginButtonDiv .Login {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px;
}

.Container .formContainer .menuDiv .loginButtonDiv .Login:hover {
  cursor: pointer;
  background-color: #f2f7fe;
}

.Container .formContainer .menuDiv .loginButtonDiv .LoginLine {
  width: 80%;
  height: 2px;
  background-color: #871d2f;
}

.Container .formContainer .menuDiv .signUpButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Container .formContainer .menuDiv .signUpButtonDiv .SignUp {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px;
}

.Container .formContainer .menuDiv .signUpButtonDiv .SignUp:hover {
  cursor: pointer;
  background-color: #f2f7fe;
}

.Container .formContainer .menuDiv .signUpButtonDiv .SignUpLine {
  width: 80%;
  height: 2px;
  background-color: #871d2f;
}

.Container .formContainer .LoginTextDetails {
  padding: 10px 0px 10px 0px;
  font-weight: 300;
  color: black;
  width: 48%;
  font-size: 1.1rem;
}

.Container .formContainer .form {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.Container .formContainer .bottomDiv {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.75rem;
}

.Container .formContainer .bottomDiv p {
  padding: 0px 10px 0px 5px;
  font-weight: 600;
}

.Container .formContainer .bottomDiv p:hover {
  cursor: pointer;
}

.Container .formContainer .bottomDiv :nth-child(1) {
  color: rgba(0, 0, 0, 0.657);
  text-decoration: underline;
}

@media (max-width: 576px) {
  .Container {
    height: auto;
    padding-bottom: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Container .Logo {
    position: static;
    padding: 0px;
    margin: 0px;
    width: 20%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 40%;
    margin-top: 20px;
  }
  .Container .image {
    display: none;
  }
  .Container .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0px;
    padding-top: 30px;
  }
  .Container .formContainer .LoginTextDetails {
    width: 70%;
    text-align: center;
  }
  .Container .formContainer .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=auth.module.css.map */