*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

$maroon : #871d2f;
$lb : #0093ff;

.Container{
    .Logo{
        position : absolute;
        right : 27px;
        top : 40px;
        width : 7%;
    }
    display : flex;
    height: 100vh;
    width : 100%;
    font-family: 'Lato';
    .image{
        width : 40%;
        height : 100%;
        // background-color: $maroon;
        overflow: hidden;
    }
    
    .formContainer{
        width : 60%;
        height : 100%;
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 15%;
        .LoginText{
            font-weight: 900;
            font-size: 1.8rem;
        }
        .menuDiv{
            display : flex;
            margin-top : 20px;
            .loginButtonDiv{
                display : flex;
                flex-direction: column;
                align-items: center;
                .Login{
                    font-weight: 600;
                    font-size: 1.1rem;
                    padding : 10px;
                    &:hover{
                        cursor: pointer;
                        background-color: #f2f7fe;
                    }
                }
                .LoginLine{
                    // margin : 2px 0px 4px 12px;
                    width : 80%;
                    height : 2px;
                    background-color: $maroon;
                }
            }

            .signUpButtonDiv{
                display : flex;
                flex-direction: column;
                align-items: center;
                .SignUp{
                    // margin-left: 10px;
                    font-weight: 600;
                    font-size: 1.1rem;
                    padding : 10px;
                    &:hover{
                        cursor: pointer;
                        background-color: #f2f7fe;
                    }
                }
                .SignUpLine{
                    // margin : 2px 0px 4px 22px;
                    width : 80%;
                    height : 2px;
                    background-color: $maroon;
                }
            }
            
            
        }
        .LoginTextDetails{
            padding : 10px 0px 10px 0px;
            font-weight: 300;
            color : rgb(0, 0, 0);
            width : 48%;
            font-size: 1.1rem;
        }
        

        
        .form{
            margin : 20px 0px 0px 0px;
            display : flex;
            flex-direction: column;
            width : 100%;

            
        }
        .bottomDiv{
            margin-top: 40px;
            display : flex;
            flex-direction: row;
            font-size: 0.75rem;
            p{
                padding : 0px 10px 0px 5px;
                font-weight: 600; 
                &:hover{
                    cursor: pointer;
                }
            }
            :nth-child(1){
                color : rgba(0, 0, 0, 0.657);
                text-decoration: underline;
            }
        }
    }
}


@media(max-width : 576px) {
    .Container{
        height : auto;
        padding-bottom :70px;
        flex-direction: column;
        .Logo{
            position : static;
            padding : 0px;
            margin : 0px;
            width : 20%;
            align-self: flex-start;
            margin-left: 40%;
            margin-top: 20px;
        }
        .image{
            display : none;
        
        }
        .formContainer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding : 0px;
            padding-top : 30px;
            .LoginTextDetails{
                width : 70%;
                // padding : 0px;
                text-align: center;
            }
            .form{
                align-items: center;
            }
        }
    }
}