.ant-carousel .slick-slide {
    text-align: center;
    height: 90px;
    // line-height: 100px;
    background: #364d79;
    // overflow: hidden;
    // bottom : 10px;
    // margin-top: 20px;
  }
  
.ant-carousel{
    height : 100%;
    // background-color: yellow;
}
//   .ant-carousel .slick-slide h3 {
//     color: #fff;
//   }
